body  {
  background-image: url("../assets/img/17973908.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: cover;
}

h3 {
  color: transparent;
}

h4 {
  color: #575b5f;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

@media (min-width: 992px) {
    h3 {
      color: green;
    }

    #all-projects {
        width: 992px;
    }

    #sidebar {
/*       background-color: gray; */
        position: fixed;
        float: left;
    }

    #sidebar_img {
        max-width: 300px;
    }

    .scroll-sidebar a {
        color: black;
        display: block;
        padding-right: 0.5rem;
        border-right: 3px solid lightgray;
        transition: border-color 0.1s, color 0.1s;
    }

    .scroll-sidebar a.active {
        font-weight: bold;
        color: green;
         border-right-color: green;
    }

    .sticky-header {
        position: sticky;
        top: 0;
        z-index: 1000;
        backdrop-filter: blur(10px);
    }
}

#all-projects, #details {
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
  position: relative;
}

/*
#sidebar-left a {
  color: black;
  display: block;
  padding-right: 0.5rem;
  border-right: 3px solid lightgray;
  transition: border-color 0.1s, color 0.1s;
}

#sidebar-left a.active {
  font-weight: bold;
  color: green;
  border-right-color: green;
}
*/

.anchor {
     scroll-margin-top: 100px;
}

.inline-icon {
    width: 0.1em;
    height: auto;
    display: inline;
    margin-right: 40px;
    vertical-align: center;
}

.frost {
  backdrop-filter: blur(10px);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #198754 !important;
  color: white !important;
  padding: 0.25rem 0.75rem !important;
  border-radius: 0.5rem !important;
}

.sticky-header-projects {
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.thumbnail {
  max-width: 30px;
  border: 0px;
  padding: 0px;
}
