body  {
  background-image: url("../assets/img/17973908.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: cover;
}

h3 {
  color: green;
}

h4 {
  color: #575b5f;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}


@media (min-width: 992px) {
    #sidebar {
        /* background-color: gray; */
        position: fixed;
        float: left;
    }
    #sidebar_img {
        max-width: 300px;
    }
}


#details {
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
}


#sidebar-left a {
  color: black;
  display: block;
  padding-right: 0.5rem;          /* same padding for all states */
  border-right: 3px solid lightgray; /* invisible border to keep spacing consistent */
  transition: border-color 0.3s, color 0.3s;
}

#sidebar-left a.active {
  font-weight: bold;
  color: green;
  border-right-color: green;    /* color only when active */
}

.anchor {
     scroll-margin-top: 100px;
}

.inline-icon {
    width: 0.1em;
    height: auto;
    display: inline;
    margin-right: 40px;
    vertical-align: center;
}


.frost {
  backdrop-filter: blur(10px);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #198754 !important; /* Bootstrap 'success' green */
  color: white !important;
  padding: 0.25rem 0.75rem !important;    /* smaller highlight area */
  border-radius: 0.5rem !important;       /* round corners */
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #dee2e6;
}

.thumbnail {
  max-width: 30px;
  border: 0px;
  padding: 0px;
}
